<style>
.divisor{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;    
}    
</style>

<main>
    <section class="container">
        <div class="row">
            <?= $this->partial('partials/menu'); ?>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h3>Loja Virtual</h3>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3" style="display: inline;">
                <h3>Filtros</h3>
                <ul class="nav">
                    <li><a>Ferramentas</a></li>                    
                    <li><a>Novos</a></li>                    
                    <li><a>Usados</a></li>                    
                    <li><a>Todos</a></li>
                </ul>
                
                <li role="separator" class="divisor"></li>
                                
                <h3>Categorias</h3>
                
                <ul class="nav nav-divider">
                    <li><a>Enfardadeiras</a></li>
                    <li><a>New Holland</a></li>
                    <li><a>Kuhn</a></li>
                    <li><a>Nogueira</a></li>
                    <li><a>Fenação</a></li>                    
                </ul>
            </div>
            
            <div class="col-md-6 col-lg-6 col-sm-6" style="display: inline;">
                <p><small>Sugestões</small></p>
                
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <img src="/img/loja/new_holland.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </section>
</main>