<nav class="navbar navbar-inverse text-center" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Início</a></li>
            <li><a href="/kuhn">Kuhn</a></li>
            <li><a href="/multimarcas">Multimarcas</a></li>
            <li><a href="/loja">Loja Virtual</a></li>
            <li><a href="/pecas">Peças</a></li>
            <li><a href="/servicos">Serviços</a></li>
            <li><a href="/videos">Vídeos</a></li>
            <li><a href="/empresa">Quem Somos</a></li>
        </ul>
    </div>
</nav>
