<div class="row">
    <div class="col-md-2">
        <img src="/img/logo-1.jpg" class="img-responsive center" style="width: 50%">
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>

            <div class="col-md-3 text-center">
                <a href="#"><u><b>COMO FUNCIONA</b></u></a>
            </div>

            <div class="col-md-2 text-center">
                <a href="#"><u><b>PLANOS</b></u></a>
            </div>

            <div class="col-md-2 text-center">
                <button class="btn btn-primary text-left" style="margin-top: -6px">Quero ser um profissional</button>
            </div>

            <div class="col-md-3">
                <img src="/img/logo-3.png" class="img-responsive center" style="width: 30%; margin-top: -15px">
            </div>
        </div>

        <div class="row">
            <nav class="text-center" role="navigation">
                <div class="container-fluid">
                    <ul class="nav navbar-nav" style="list-style-type: disc">
                        <li class="active upper-case"><a href="#"><b>Início</b></a></li>
                        <li class="upper-case li-dot"><a href="/kuhn"><b>Unha</b></a></li>
                        <li class="upper-case li-dot"><a href="/multimarcas"><b>Maquiagem</b></a></li>
                        <li class="upper-case li-dot"><a href="/loja"><b>Cabelo</b></a></li>
                        <li class="upper-case li-dot"><a href="/pecas"><b>Depilação</b></a></li>
                        <li class="upper-case li-dot"><a href="/servicos"><b>Massagem</b></a></li>
                        <li class="upper-case li-dot"><a href="/videos"><b>Serviços Estéticos</b></a></li>
                        <li class="upper-case li-dot"><a href="/empresa"><b>Barbearia</b></a></li>
                    </ul>
                </div>
            </nav>            
        </div>
    </div>
</div>

<style>
    a {
        color: black;
    }

    a:hover{
        color: black;
    }
</style>