<nav class="text-center" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav" style="list-style-type: disc">
            <li class="active upper-case"><a href="#"><b>Início</b></a></li>
            <li class="upper-case li-dot"><a href="/kuhn"><b>Unha</b></a></li>
            <li class="upper-case li-dot"><a href="/multimarcas"><b>Maquiagem</b></a></li>

        </ul>
    </div>
</nav>