<main>
    <section>
        <div class="row">
            <?= $this->partial('partials/menu'); ?>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h3>Kuhn</h3>
            </div>
            
            <div class="row fundo">
                <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 10px;">
                    <h3>Máquinas Kuhn</h3>
                    <h4>Portifólio de Máquinas <strong>"Be strong, be Kuhn"</strong></h4>
                    
                    <p class="justify">
                        A KUHN possui uma ampla gama de produtos para atender a todas as expectativas dos agropecuaristas a nível mundial. 
                        Independente da origem ser a agricultura familiar ou empresarial, os produtores encontrarão o que há de melhor em 
                        implementos para se adequar às suas necessidades. As máquinas para o preparo do solo e uma completa linha de 
                        plantadoras e semeadoras com sistema de distribuição de semente monogrão ou pneumático, se adaptam a todos os 
                        sistemas de plantio atuais. Para os tratos fitossanitários, os pulverizadores KUHN são a melhor escolha quando se 
                        analisa o custo benefício pela qualidade do trabalho realizado e a sua vida útil. Quando for o momento de fazer a 
                        adubação, os fertilizadores KUHN garantem precisão e facilidade na regulagem. Por outro lado, se a necessidade for 
                        de reciclar os nutrientes contidos nos resíduos orgânicos, existem diversos modelos de distribuidores com descarga 
                        lateral e traseira, para o aproveitamento do esterco ou outros produtos orgânicos. A marca KUHN é referência mundial 
                        também nos produtos para fenação, com mais de 33 modelos somente de segadoras, dispõe de todas as ferramentas para a 
                        produção de feno ou pré-secado de alta qualidade para o período de escassez alimentar. Os fardos produzidos são 
                        processados de maneira uniforme pelos misturadores verticais. Contudo, se a necessidade for um misturador horizontal 
                        com batedor central, a KUHN possui modelos que variam de 4 até 27m³ de capacidade, reafirmando sua liderança mundial 
                        nesse segmento. Além disso, completam a gama os diversos modelos de trituradores para limpeza de beira de rodovias ou
                        trituração de restevas, capazes de atender as necessidades dos produtores mais exigentes do mercado.                        
                    </p>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8" style="padding: 10px; display: inline">
                    <img src="/img/fenacao/Screenshot_1.png" class="img-responsive">
                </div>

                <div class="col-md-4 col-sm-4 col-lg-4" style="padding: 10px; display: inline">
                    <h3>Fenação e Pecuária</h3><br>
                    
                    <p>
                        Com 40 anos de experiência a KUHN é líder incontestável em equipamentos de fenação. As segadoras, 
                        espalhadores de forragens e ancinhos enleiradores possuem reconhecimento mundial pela sua qualidade 
                        de trabalho, desempenhos, confiabilidade e longevidade. O corte de uma forragem de qualidade e o 
                        retorno de investimento está no centro das preocupações e inovações. Valores certos para a colheita 
                        do feno, ensilagem ou pré-secado.
 
                        Mais informação acesse:
                        http://www.kuhndobrasil.com.br
                    </p>                    
                </div>
            </div>
        </div>
    </section>
</main>

<style>
    .fundo{
        background: #5bc0de;
    }
</style>