<style>
    .divisor{
        border-bottom: 1px solid;
        color: #a5a5a5;
    }
</style>

<main>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <h3>Cadastro de Produtos</h3>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <h4>Informações Principais</h4>
                        <hr style="border-top: 1px solid #000;">
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 form-group">
                        <label>Nome do Produto:</label>
                        <input type="text" id="produto" name="produto" class="form-control">
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 form-group">
                        <label>Código do Produto:</label>
                        <input type="text" id="codigo" name="codigo" class="form-control">
                    </div>
                    
                    <div class="col-md-2 col-xs-12 col-sm-2 col-lg-2 form-group">
                        <label>Categoria:</label>
                        <select class="form-control" name="categoria" id="categoria">
                            <option>Consumo</option>
                            <option>Venda</option>
                            <option>Insumo</option>
                            <option>Embalagem</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-2 col-xs-12 col-sm-2 col-lg-2 form-group">
                        <label>Valor:</label>
                        <input type="text" id="valor" name="valor" value="R$ 0,00" class="form-control">
                    </div>
                    
                    <div class="col-md-2 col-xs-12 col-sm-2 col-lg-2 form-group">
                        <label>Quantidade:</label>
                        <input type="number" id="qtde" name="qtde" value="0" class="form-control">
                    </div>
                    
                    <div class="col-md-2 col-xs-12 col-sm-2 col-lg-2 form-group">
                        <label>Visibilidade:</label>
                        <select class="form-control" name="categoria" id="categoria">
                            <option value="1">Interno</option>
                            <option value="2">Loja</option>
                        </select>
                    </div>
                    
                    <div class="col-md-2 col-xs-12 col-sm-2 col-lg-2 form-group">
                        <label>Marca</label>
                        <select id="marca" name="marca" class="form-control">
                            <option>Kuhn</option>
                            <option>New Holland</option>
                            <option>Nogueira</option>
                            <option>Paralelo</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Imagens:</label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Descrição</label>
                        <textarea rows="6" id="descricao" name="descricao" class="form-control"></textarea>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>