<main>
    <section>
        <div class="row">
            <?= $this->partial('partials/menu'); ?>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h3>Produtos</h3>
            </div>
        </div>
    </section>
</main>