<main>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <h3>Cadastro de Fornecedores</h3>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <h4>Informações Principais</h4>
                        <hr style="border-top: 1px solid #000;">
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Nome/Razão</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>CNPJ</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Endereço</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Número</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>CEP</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Complemento</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Bairro</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Estado</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>Inscrição Estadual</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
