body{
    font-family: 'ABeeZee', sans-serif;
    background: #f4f2f5;
}
.font-principal{
    font-family: 'ABeeZee', sans-serif;    
}
.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover{
}
.navbar{
    border: 0px;
    min-height: 62px;
}
.navbar-default{
     background-color: #ffffff;
}
.navbar-default .navbar-brand{
    color:#00bcd4;
    font-size: 2em;
    font-family: 'Satisfy', cursive;      
}
 .navbar-brand {       
    padding: 0px 5px;     
}
.navbar-toggle { 
    padding: 10px 10px;
    border-radius: 0px;
    margin-top: 13px;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover, 
.navbar-default .navbar-nav>li.no-hover>a:hover{
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #2d40a5;
    background-color: #fff;
}
.carousel-indicators {
    position: absolute;
    bottom: inherit;
    right: 7%;
    z-index: 15;
    width: 18px;
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
/*    background: #2c499a;*/
    left: inherit;
}
.navbar-collapse {  
    border-top: 0px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 3px solid #ffffff;
    border-radius: 0px;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
 }
 .modal-header .close {   
    width: 25px;
    height: 25px;
    border-radius: 16px;   
    opacity: 1;
    color: #ffffff;   
   
}

.box-principal{
    min-width: 780px;
}

.bg-branco{
    background: #ffffff;    
}

.bk-branco{
    background: #ffffff;
}

@media (min-width: 1199px){
    .bk-branco{
        /*min-height: 918px;*/
    }
}

.bg-bege{
    background: #fffff0;
}
.bg-fundo{
    background: #F0F8FF;
}
.bg-azulescuro{
    background: #00366f;
}
.bg-cinema{
    background-image: url('/imagens/cinema/fundo-cinema.png');
}
.fazer-login .modal-title{
   font-size: 20px;
}
.fazer-login form{
    width: 90%;
    margin: auto;
}
.modal-title {  
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.modal-header {
    border-bottom: 0px;
    padding: 20px 15px 15px 15px;
    background: rgba(45,70,150,1);
    background: -moz-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,70,150,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4696', endColorstr='#207ce5', GradientType=1 );
}
.modal-footer {   
    border-top: 0px;
    padding: 15px 15px 30px 15px;

}
.dropdown-menu.cat {
    position: fixed;
    top: 62px;   
    width: 100%; 
    padding: 15px 0;   
}
.ul-cat{
   list-style: none;
   padding-left: 0;
   display: block;
}
.verde{
    color: #5cb85c;
}
.amarelo{
    color: #ffc800;
}
.vermelho{
    color: #f04b46;
}
.mb15{
    margin-bottom: 15px;
}
.secartao, .seboleto,.resposta-pergunta {
    display: none;
}
.favo{
   
    color: #ffc107;
    
}
.cor-segundaria{color: #2a2829}
.font-20{
    font-size: 20px !important;
}
.mb5{
    margin-bottom: 5px
}

.ul-cat li{
  display: block;
   padding: 6px ;
}
.ul-cat li a{
    text-transform: uppercase;
       
}
.btn {
    font-weight: normal;   
    border-radius: 0px;
    text-transform: uppercase;
    padding: 13px 14px 10px;
    border: 1px solid transparent;
}
.btn-primary {
    color: #fff;
    background:#2d4696;   
    border-color: #2d40a5;
    border: 1px solid transparent;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background: #2d40a5;   
    border-color: #020f51;
    border: 1px solid transparent;
}
.btn-favoritar {
    color: #fff;
    background:#2d4696;
    background: rgba(45,70,150,1);
    background: -moz-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,70,150,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4696', endColorstr='#207ce5', GradientType=1 );
    border-color: #2d40a5;
    border: 1px solid transparent;
}

.btn-favoritar.active, .btn-favoritar.focus, .btn-favoritar:active, .btn-favoritar:focus, .btn-favoritar:hover, .open>.dropdown-toggle.btn-favoritar {
    color: #fff;
    background: rgba(45,64,165,1);
    background: -moz-linear-gradient(left, rgba(45,64,165,1) 0%, rgba(2,15,81,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,64,165,1)), color-stop(100%, rgba(2,15,81,1)));
    background: -webkit-linear-gradient(left, rgba(45,64,165,1) 0%, rgba(2,15,81,1) 100%);
    background: -o-linear-gradient(left, rgba(45,64,165,1) 0%, rgba(2,15,81,1) 100%);
    background: -ms-linear-gradient(left, rgba(45,64,165,1) 0%, rgba(2,15,81,1) 100%);
    background: linear-gradient(to right, rgba(45,64,165,1) 0%, rgba(2,15,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d40a5', endColorstr='#020f51', GradientType=1 );
    border-color: #020f51;
    border: 1px solid transparent;
}
.btn-default{
    background: #dddddd;
    color: #333333;
    border: 1px solid transparent;
}
btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background: #333333;
    color: #fff;
    border: 1px solid transparent;
}
.btn-total{
    width: 100%;
}
a {
    color: #2d40a5;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0
}
a:focus, a:hover {
    color: #020f51;
    text-decoration: underline;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0
}    
label {
    font-weight: normal;
    margin-bottom: 0px;
    color: #2a2829;
}
.form-control{
    border: 1px solid #a5a5a5;
    border-radius: 0px;
    height: 45px;
}
.img-ev img{
    width: 100%;
    max-width: 300px;
    margin: auto;      
    margin-bottom: 10px;
    opacity: 1;   
    transition-duration: 0.6s;
    
}
.btn-ahref{
    background: transparent;
    padding: 0;
}
.btn-success{ border: 1px solid #5cb85c;}

.btn-success:hover,.btn-success:active,.btn-success:focus{
    border: 1px solid #398439;
}
.btn-facebook{
   background:#3b5998;
   border-color: #3b5998;
   color: #ffffff;
   border: 1px solid transparent;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus{
   background:#3b5998;
   border-color: #3b5998;
   color: #ffffff;
   border: 1px solid transparent;
}
.btn-twitter{
   background:#1da1f2;
   border-color: #1da1f2;
   color: #ffffff;
   border: 1px solid transparent;
}
.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter:focus{
   background:#1da1f2;
   border-color: #1da1f2;
   color: #ffffff;
   border: 1px solid transparent;
}
.btn-instagram{
   background:    
    radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
  
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
  
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),   
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #ffffff;
    border-color: #6559ca;
    border: 1px solid transparent;
}
.btn-instagram:hover,
.btn-instagram:active,
.btn-instagram:focus{
    background:    
    radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
  
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
  
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),   
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-color: #6559ca;
    color: #ffffff;
    border: 1px solid transparent;
}

.img-ev{
    cursor: pointer;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

.img-ev:hover > img{
    opacity: 0.7;
}

@media (max-width: 767px){
    h1.tit-princ{
        color:#2d40a5;
        text-transform: uppercase;
        font-size: 20px !important;
    }
    
    .nome-eventoH3{
        height: 35px;
        margin-top: 0px !important;
        font-size: 18px !important;
    }
    
    .share-list {
/*        position: absolute;*/
        top: 25px;
    }
    
    .det {
        position: absolute;
        top: 25px;
    }    
    
    h3#exampleModalLabel{
        font-size: 18px !important;
        margin-top: 5px !important;
    }
    
    .tit-end{
        font-size: 15px !important;
    }
}

@media (min-width: 768px){
    h1.tit-princ{
        color:#2d40a5;
        text-transform: uppercase;
    }
    
    .nome-eventoH3{
        height: 50px;
        margin-top: 0px !important;
    }
    
    .det{
        position: absolute;
        top: 60px;
/*        top: 320px;        */
    }
    .share-list{
        position: absolute;
        top: 60px;
/*        top: 320px;        
        left: 240px;*/
    }
}    

h4.tit-princ{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1.tit-princ,.h1.tit-princ,
h2.tit-princ,.h2.tit-princ,
h3.tit-princ,.h3.tit-princ,
h4.tit-princ,.h4.tit-princ,
h5.tit-princ,.h5.tit-princ,
h6.tit-princ,.h6.tit-princ{
    font-family:'Quicksand', sans-serif;
}
.div-tit-princ h4, .div-tit-princ button{
   font-family: 'ABeeZee', sans-serif;
   color: #07225d;
}
.tit-myriad{
    font-family: 'Myriad Pro', sans-serif;
}
.desc-ev{
  font-family:'Ubuntu', sans-serif;  
}
.info-ev{
    margin: 0;
    color: #ffffff;
    background: #2d40a5;
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
}
.item-ev img{
    width: 100%;
    margin-bottom: 20px;
    height: 120px;
}

@media (max-width: 767px){
    .item-ev {
        margin-bottom: 20px;
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 0 2px 0 0 #ddd;
        color: #2d40a5;
        /* min-height: 400px; */
        padding-bottom: 50px;
    }
    
    .centerMin{
        display: block !important;
        text-align: center;
        margin: auto !important;
    }
}

@media (min-width: 768px){
    .item-ev {
        margin-bottom: 20px;
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 0 2px 0 0 #ddd;
        color: #2d40a5;
        min-height: 400px;  
    }
}
.item-ev:hover {
    background-color: #dadada;
    color: #2d40a5;
}
.item-ev ul {
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.item-ev ul li {
    border-right: 2px solid #484848;
    float: left;
    line-height: 10px;
    list-style: none;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #484848;
    margin-bottom: 5px;
}
.item-ev-content {
    margin-bottom: 25px;
    margin-top: 0;
}
 input[type="text"].form-pesquisar{
        height: 50px; 
 }
.btn-pesquisar{
   padding: 14px 20px 14px 20px;
   margin-left: -5px;   
}
form.form-pesquisar{
    margin: auto;
    background: #fff;
    width: 100%;
    padding: 15px 5px;
}
form.form-pesquisar .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.footer{
    background: rgba(45,70,150,1);
    background: -moz-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,70,150,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4696', endColorstr='#207ce5', GradientType=1 );
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
}
.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo{
    width: 200px;
    height: 51px;
    margin-top: 6px;
}
.navbar-default {
       background: rgba(45,70,150,1);
    background: -moz-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,70,150,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(45,70,150,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4696', endColorstr='#207ce5', GradientType=1 );

}
.bem-vindo p{
    margin-top: 20px;
    color: #070809;
    text-transform: uppercase;
}
.footer .btn-facebook, .footer .btn-twitter, .footer .btn-instagram{
   width: 150px;   
}
.footer .btn-twitter i{
    margin-left: -10px;
}

@media (max-width: 767px){
    .col-footer{
        margin-bottom: 20px;
    }
}

@media (min-width: 768px){
    .col-footer{
        min-height: 250px
    }
}

.foto-user img{   
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.main-sembanner{
    margin-top: 80px;
    margin-bottom: 40px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 5px;
}
#navbarlateral .navbar-nav, #navbarlateral .navbar-nav li{
    width: 100%
}
#navbarlateral .navbar-nav>li>a {
    /*padding: 15px;*/
}
#navbarlateral .navbar-nav>li>.dropdown-menu{
    position: relative;
    width: 100%;
    border: 0px;    
}
.navbar-toggle.lateral {   
    background: #2d40a5;
    margin-top: 10px;
}
.navbar-toggle.lateral .icon-bar{
    background: #ffffff;   
}
.dropdown-menu {   
    border: 1px solid #ccc;
    border: 1px solid #2d40a5;
    border-top: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu>li>a{
    color: #2d40a5;
    padding: 10px 20px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #2d40a5;
    background-color: #ffffff;
}
.tit-end{
    border-bottom: 1px solid;
    color: #2d40a5;
}
.campoobrigatorio{
    color: #9b0808;
}
.msgusu{
    display: none;
    position: fixed;
    top: 0;
    margin: 0px;
    z-index: 1030;
    border-radius: 0;
    width: 100%;
    padding: 15px 25px;
}
.msgusu i{
    font-size: 3em
}
.msgusu .iconebull{
    margin-right: 20px
}
.msgusu span{
     line-height: 3em;
} .msgusu .close{
    line-height: 2em;
}
.optionsimgzoom{
    list-style: none;
    display: block;
    float: left;
    padding-left: 0;
    width: 200px;
}
.optionsimgzoom li{
    display: inline-block;
}
.optionsimgzoom li a{
    padding: 5px 10px;
    background: #2d40a5;
    color: #fff;
}
.file{
    margin: auto;
}
.form-tel{
        margin-bottom: 15px;
}
#fotodoperfil,#bannerfoto,#mbannerfoto{
    display: none;
}
.fotodoperfil, .bannerfoto{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.78);
    color: #fff;
    padding: 5px;
    text-align: center;
}
.fotodoperfil{    
    width: 200px;
   
}
.cor-principal{
    color: #2d40a5;
}
.bk-cor-principal{
    background:  #2d40a5;
}
.cursor-pointer{
    cursor: pointer;
}
.groupadd{display: block}  
.span-funcao{ cursor: pointer;    padding:12px;}
.groupadd #pfuncao, .groupadd #funcao{float: left}
.groupadd #pfuncao, .groupadd #funcao{float: left}
.s2{    line-height: 3em;}
.descf{
        min-height: 50px;
}

.f20{
    font-size: 20px !important;
}
.table-ingressos tr td:first-child{
    border-top: 1px solid #ddd;
}
.table-ingressos tr td{
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.border-topz{border-top: 0px !important}

@media(min-width:600px){
    #pfuncao{width: 55%}
    .funcao{width: 25%}
    .btn-funcao{width: 20%;}
    .sl-funcao{display: none}
    .span-funcao{display: block}
}
@media(max-width:599px){
    #pfuncao{margin-bottom: 15px}
    .funcao{margin-bottom: 15px}
    .btn-funcao{margin-bottom: 15px}  
    .sl-funcao{display: block}
    .span-funcao{display: none}        
    .opcoes-funcao{display: none !important}
}

.btn-funcao{  padding: 13px 14px 10px  }
.opcoes-funcao{       
    display: none;
    position: absolute;
    background: #FFFFFF;
    z-index: 999;
    left: 54.7%;
    width: 30%;
    max-width: 188px;
    border: 1px solid #ccc;
    padding: 20px 0px;
    top: -82%;}
.opcoes-funcao ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px
}
.opcoes-funcao ul li{
     padding: 5px 20px;
     cursor: pointer;
     text-transform: uppercase;
     color: #2d40a5;
}
.opcoes-funcao ul li a{
    text-decoration: none;
}
.opcoes-funcao ul li:hover{
    color: #ffffff;
}
.opcoes-funcao ul li:hover {
    background: #2d40a5;                               

}
.fotoadm{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.spanadm{
   margin: 10px 0px;   
    display: block;
   
}
.spanadm i+i {
   margin-right: 0px;
}
.spanadm i {
    font-size: 24px;
   margin-right: 5px;}
.n{
    display: none;
}
.msgc li a {
    text-transform: capitalize !Important;
}
.has-notify {
    position: absolute;
    top: 16px;
    left: 22px;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #F04B46;
    z-index: 10;
    opacity: 1;
    transition: all .2s linear;
 }
 .aceitar{
    background: #4CAF50;
    color: #fff;
    padding: 5px;
 }
 .recusar{
    background: #F04B46;
    color: #fff;
    padding: 5px 6px 5px 6px;
    margin-left: 2px;
 }
 .critcompra + .critcompra{
     margin-left: 8%;
 }
 .critcompra{
     width: 46%;
     float: left;
 }
 .pagination-sm>li>a, .pagination-sm>li>span {
    padding: 10px 15px;    
    font-size: 14px;
    color: #2d40a5
   
}
.pagination>li.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
     background-color: #2d40a5;
    border-color: #2d40a5;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.font-16{
    font-size: 16px
}
.text-detalhe{
    margin-bottom: 5px
}
div.text-detalhe p{
    margin-bottom: 5px
}
.text-bold{
    font-weight: bold;
}
.qtding{
    max-width: 70px;
    display: inline;
}
.qtding2{
    max-width: 110px;
}
@media(max-width:767px){
    .xs-text-center{
        text-align: center
    }
    .modal-dialog.fazer-login{
        max-width: 90%;
        margin: 10px 5%;
    }
    .navbar-brand{
        margin-top: 0px;
        padding: 0;
        padding-left: 15px;
    }    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-default .navbar-toggle {
        border-color: #ffffff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #ffffff;         
    }
    .navbar-default .navbar-toggle:focus > .icon-bar, .navbar-default .navbar-toggle:hover > .icon-bar{
        background-color: #03A9F4;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {        
        background: #ffffff;
        max-height: 362px;
    }
    .navbar{margin-top: 0px !important;}
    .header{display: none !important;}
    .main-sembanner {
        margin-top: 45px;
    }
    .tit-lateral{
        font-size: 18px;
    }
    .fr{
    margin-bottom:  15px;
    
    }
    .frtipo{
      margin-bottom:  15px;
    }    
    .has-notify {      
        top: 8px;      
        left: 20px;
    }
    .logo {
        height: 50px;
        margin-top:5px;
    }
}
@media (min-width: 768px){   
    .navbar-nav>li>a {
        padding-top: 21px;
        padding-bottom: 21px;
    } 
    .modal-dialog.fazer-login{
        max-width: 380px;
    }
    input[type="text"].form-pesquisar{
        width: 500px !important;
    }
    form.form-pesquisar{       
        padding: 15px;
    }
    .navbar-right {
        margin-right: 0px;
    } 
    .navbar{
     
         transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    }
    .header{
        background-color: #ffffff;
        height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999
    }
    .navbar-nav>li>.foto-user{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 5px;
        padding-right: 5px;
        
    }
    .navbar-default .navbar-nav>li>a{
        color: #ffffff;
    }    
    .header{display: block;}
    .end{
      margin-right: 2px;
    }
    .fr{
        width: 28%;
        margin-right: 4px;
        float: left;
    }
    .frtipo{
        width: 69%;
    }
    .modal-dialog.compraringressos {
    width: 80%;
    }
}

@media(min-width:768px) and (max-width:992px){
   .form-telefones{
        max-width: 167px;
        
    }
    
}
@media(min-width:992px) and (max-width:1200px){
   .form-telefones{
        max-width: 133px;
    }
}
@media(min-width:992px) and (max-width:1200px){
   .end-b{
          max-width: 131px;
    }
}
@media(min-width:992px){
    .navbar{margin-top:0px;}
    .tametapas{
    min-height: 450px;  
    }
}

/*@media screen and (min-width: 768px){
    .carousel-indicators {
        top: 20px;
    }
}*/
@media(min-width:1201px){
    .end-b{
        min-width: 187px;
    }
}
@media(max-width:767px){
    .navbar-nav{
        margin: 7.5px 0px
    }
    .pesquisarcontent > button{
        right: 10px;
    }


}
@media(min-width:768px) and (max-width:992px){
    .nav>li>a{
        padding: 21px 10px;
    }


}

.pesquisarcontent{
    display: block;
    padding: 17px 10px 18px !important;
    
}
.pesquisarcontent > button{
      position: absolute;
      margin-top: -27px;
      right: 0;
      height: 27px
}
.pesquisarcontent input[type=text]{  
    height: 27px;
    text-transform: uppercase;
}
.paint-bucket{
    background: url("/imagens/icons/paint-bucket.png") repeat scroll center center transparent;
    width: 30px;
    height: 30px;
}

.fa-menu-icon{
    width: 30px;
    height: 15px;
    /*background: #fff;*/
}
/*
.fa-menu-icon:hover{
    transform: scale(15, 15);
    opacity: 1;
    position: relative;
    
    width:500px;
    height: 300px;
    opacity: 1;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;    
    
}
*/


@media (max-width: 781px){
    .box-rodape{
        width: 100% !important;
    }
}

.trailer{
    width: 100% !important;
}