body {
    padding-top: 30px;
    padding-bottom: 40px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

.no-link{
    text-decoration: none;
}

.justify{
    text-align: justify;
}

.bg-branco{
    background: #ffffff;    
}

.upper-case{
  text-transform: uppercase;
}

.dot{
  height: 5px;
  width: 5px;
  background-color: coral;
  border-radius: 50%;
}

.list-item{
    color: #000;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

@media (min-width: 768px) { 
	.navbar-nav {
	    margin: 0 auto;
	    display: table;
	    table-layout: fixed;
	    float: none;
	}
	.navbar-nav > li {
	    position: relative
	}
	.navbar-nav > li:before,
	.navbar-nav > li:last-child:after {
	    content: "";
	    position: absolute;
	    width: 6px;
	    height: 6px;
	    background: coral;
	    top: 50%;
	    margin-top: -2px;
	    right: -3px;
	    z-index: 1;
	    border-radius: 6px;
	}
	.navbar-nav > li:before {
	    right: auto;
	    left: -3px;
	}
}

.btn-primary{
    background-color: #f9a775;
    border-color: white;
    color: white;
}

.btn-primary:hover{
    background-color: white;
    border-color: #f9a775;
    color: #f9a775;
}

.btn-secondary{
    background-color: #f071a4;
    border-color: white;
    color: white;
}

.btn-secondary:hover{
    background-color: white;
    border-color: #f071a4;
    color: #f071a4;
}

.btn-third{
    background-color: white;
    border-color: #f071a4;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
}

.btn-third:hover{
    background-color: #f071a4;
    border-color: white;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.secondary{
    color: #f071a4 !important;
}

.bg-primary{
    background-color: coral; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, #ef6da7, #fbb26a)    
}

.h2-bigger{
    color: #fbb26a;
    font-size: 50px;
}

.center{
    display: block;
    margin: auto;    
}

.left-border{
    border-left: 2px solid #ef6da7;
}

.bg-home{
    background-image: url("/img/bg-1.png");
    width: 100%;
    position: relative;
}

.text{
    font-size: 30px;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 100%;    
}

.text-white{
    color: #fff;
}

.img-servicos{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: coral; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, #ef6da7, #fbb26a)    
}