<main>
    <section class="">
        <div class="row">
            <?= $this->partial('partials/menu'); ?>
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" id="frmLogin">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                        <h3>Login</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                        <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuário/E-mail">
                        <br/>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                        <input type="password" id="senha" name="senha" class="form-control" placeholder="******">
                        <br/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4  col-md-offset-2 col-sm-offset-2 text-center">
                        <button type="button" class="btn btn-primary" onclick="login()">Logar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript">
$("#frmLogin").click(function(ev){
    
});
    
function login(){
    var user = $("#usuario").val(),
        senha = $("#senha").val();

    if (user == "" || senha == ""){
        swal("Atenção", "Usuário ou senha em branco. Verifique novamente.", "warning");
        return false;
    }
    
    $.post('/login/acessar', {
        usuario: user,
        senha: senha
    }, function(retorno){
        if (retorno.retorno){
            window.location.href = '/escritorio';
        } else {
            swal("Erro", retorno.msg, "error");
            console.log("Deu ruim");
        }
    });
}
</script>