<main>
    <section>
        <div class="row">
            <?= $this->partial('partials/menu'); ?>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center">LISTA DE SERVIÇOS</h4>
            </div>

            <div class="col-md-6">
                <button type="button" class="btn btn-third upper-case">+ Incluir seus serviços</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <button type="button" class="btn btn-third upper-case" style="width: 150px;">Meus Serviços</button>
                    <div class="row">&nbsp;</div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-third upper-case" style="width: 150px;">Meus Pedidos</button>
                    <div class="row">&nbsp;</div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-third upper-case" style="width: 150px;">Agenda</button>
                    <div class="row">&nbsp;</div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-third upper-case" style="width: 150px;">Pagamentos</button>
                    <div class="row">&nbsp;</div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-third upper-case" style="width: 150px;">Dicas</button>
                    <div class="row">&nbsp;</div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-third upper-case" style="width: 150px;">Avaliação</button>
                    <div class="row">&nbsp;</div>
                </div>
            </div>

            <div class="col-md-9">
                <table>
                    <tbody>
                        <tr>
                            <td><h4><img src="/img/maquiagem.png" class="img-servicos" alt="">&nbsp;&nbsp;Maquiagem</h4></td>
                            <td style="width: 300px;">&nbsp;</td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-edit"></i> &nbsp;<br><span style="font-size: 8px">Editar</span></a></td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-trash-o"></i> &nbsp;&nbsp;<br><span style="font-size: 8px">Excluir</span></a></td>
                        </tr>

                        <tr>
                            <td><h4><img src="/img/maquiagem.png" class="img-servicos" alt="">&nbsp;&nbsp;Maquiagem</h4></td>
                            <td style="width: 300px;">&nbsp;</td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-edit"></i> &nbsp;<br><span style="font-size: 8px">Editar</span></a></td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-trash-o"></i> &nbsp;&nbsp;<br><span style="font-size: 8px">Excluir</span></a></td>
                        </tr>

                        <tr>
                            <td><h4><img src="/img/maquiagem.png" class="img-servicos" alt="">&nbsp;&nbsp;Maquiagem</h4></td>
                            <td style="width: 300px;">&nbsp;</td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-edit"></i> &nbsp;<br><span style="font-size: 8px">Editar</span></a></td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-trash-o"></i> &nbsp;&nbsp;<br><span style="font-size: 8px">Excluir</span></a></td>
                        </tr>

                        <tr>
                            <td><h4><img src="/img/maquiagem.png" class="img-servicos" alt="">&nbsp;&nbsp;Maquiagem</h4></td>
                            <td style="width: 300px;">&nbsp;</td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-edit"></i> &nbsp;<br><span style="font-size: 8px">Editar</span></a></td>
                            <td align="center"><a href="#"><i class="fa fa-2x fa-trash-o"></i> &nbsp;&nbsp;<br><span style="font-size: 8px">Excluir</span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<style>
    .fa {
        padding-left: 10px;
    }
</style>