<main>
    <section>
        <div class="row">
            <?= $this->partial('partials/menu'); ?>

        </div>

        <!--<div class="row bg-home" style="padding: 100px;">-->
        <div class="row">
            <img src="/img/bg-1.png" alt="" style="width: 100%; height: auto; display: block;">
            <div class="col-md-6 text">
                <h4 class="secondary">
                    <b>
                        PROCURANDO POR<br>
                        PROFISSIONAIS<br>
                        DE BELEZA?
                    </b>
                </h4>

                <h5 class="text-white">
                    Veja como é fácil encontrar um profissional de beleza<br/>
                    e estética.Em poucos cliques ele irá até você.
                </h5>

                <h5 class="text-white"><br><b>É simples, rápido e fácil.</b></h5>

                <button class="btn btn-primary" style="border-radius: 5px">CONTRATE JÁ</button>
            </div>

            <div class="col-md-6">

            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row" style="padding-left: 100px;">
            <div class="col-md-2">
                <h4 class="text-center">
                    <h2><b>PLANOS</b></h2>
                    <h3>
                        <b>
                            PRÉ<br/>
                            PAGOS
                        </b>                        
                    </h3>
                </h4>
            </div>

            <div class="col-md-2 left-border">
                <h2 class="text-center h2-bigger"><b>R$</b></h2>
                <h2 class="text-center">50,00</h2>
            </div>

            <div class="col-md-2 left-border">
                <h2 class="text-center h2-bigger"><b>R$</b></h2>
                <h2 class="text-center">150,00</h2>
            </div>

            <div class="col-md-2 left-border">
                <h2 class="text-center h2-bigger"><b>R$</b></h2>
                <h2 class="text-center">250,00</h2>
            </div>

            <div class="col-md-2 left-border">
                <h2 class="text-center h2-bigger"><b>R$</b></h2>
                <h2 class="text-center">350,00</h2>
            </div>

            <div class="col-md-2 left-border">
                <h2 class="text-center h2-bigger"><b>R$</b></h2>
                <h2 class="text-center">500,00</h2>
            </div>
        </div>
    </section>
</main>